*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* aca tengo estilos generales */

.image-container{
    display: flex;
}

.image-container img{
    width: 100%;
}

/*Aca tengo los estilos del header*/

header{
    background: #1f1f1f;
    padding: 10px 50px;
    display: flex;
}

#logo{
    width: 100px;
}

#logo img{
    border: 2px solid #1f1f1f;
}

/*Estilos de hero*/

#hero{
    position: relative;
}

#hero #background-profile{
    display: block;
    width: 100%;
}

#hero .informacion-contendor{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    width: 100%;
    color: #fff;
    padding: 0 50px;
}

#hero .informacion-contendor #photo{
    width: 200px;
}

#hero .informacion-contendor #photo img{
    border-radius: 100%;
    width:100%;
}

#hero .informacion-contendor .info{
    margin-left: 20px;
    font-weight: bold;
    width: calc(100%-200px);
}

#hero .informacion-contendor .info span {
    display: inline-block;
    color: #b5b5bb;
    margin-bottom: 70px;
}

/*Estilos del main*/

main{
    padding: 100px;
    background: #1f1f1f;
}

main .social-icons{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style: none;
}

main .social-icons li{
    margin-left: 8px;
}
main p{
    color: #fff;
    display: flex;
    justify-content: center;
    text-align:center;
}

main .social-icons .social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

main .social-icons #LinkedIn{
    background: #0a66c2;
}
main .social-icons #GitHub{
    background: #23272d;
}
main .social-icons #Twitter{
    background: rgb(29, 155, 240);
}
main .social-icons #YouTube{
    background: #f70000;
}
main .social-icons #Platzi{
    background: #121f3d;
}

@media (max-width: 420px){
    .informacion-contendor{
        flex-direction: column;
        align-items: center;
    }
    .info{
        display: flex;
        flex-direction: column;
    }
    .h1{
        align-items: center;
        justify-content: center;
    }
    .image-container{
        display: flex;
    }
    #hero .informacion-contendor .info h1{
        text-align: center;
    }
    #hero .informacion-contendor .info span{
        text-align: center;
    }
}